@charset "utf-8";

img {
  width: 100%;
  max-width: 100%;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  background: #fcfcfc;
  box-sizing: border-box;
}

/*  */

.main {
  position: relative;
}

.header_title {
  position: absolute;
  top: 40px;
  right: 0;
  left: 0;
  font-size: 2rem;
  margin: auto;
  text-align: center;
  z-index: 10;
}
.header_title:before {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  top: -10px;
  left: 0;
  right: 0;
  margin: auto;
  background: #111;
  transform: rotate(45deg);
}
.header_title:after {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  bottom: -14px;
  left: 0;
  right: 0;
  margin: auto;
  background: #111;
  transform: rotate(45deg);
}

.main .gnav_pc {
  position: absolute;
  left: 40px;
  top: 200px;
  z-index: 1;
}
.main .gnav_pc ul {
  list-style: none;
  width: 100%;
  display: flex;
  background: rgba(255,255,266,255)
}
.main .gnav_pc ul li {
 width: 25%;
}
.main .gnav_pc ul li a {
  color: #000;
  transition: .3s;
}
.main .gnav_pc ul li a:hover {
  text-decoration: none;
  opacity: 0.7;
  transition: .3s;
}
@media (max-width: 768px) {
  .main .gnav_pc ul {
    min-width: 100%;
    height: 100vh;
    flex-direction: column;
    background: rgba(255, 255, 255, 1);
  }
  .main .gnav_pc ul li {
   width: 100%;
  font-size: 1.5rem;
   margin-bottom: 0;
  }
.gnav_li a {
  padding: 30px 0;
  min-height: auto;
  height: auto;
}
}
/*  */
.main_box .columns {
  margin-left: 0;
}
.main_box .six {
  width: 50%;
}

.main_box_info,
.main_box_img {
  position: relative;
  height: 100vh;
}

.main_box_info {
  padding: 20px 20px 20px 40px;
}
.main_box_info .main_box_title {
  margin: 15% auto 1rem 0;
  font-size: 7rem;
}
.main_box_info .main_box_info_text {
  border-top: 1px solid #000;
  padding: 20px 20px 0 0;
  font-size: 1.2rem;
  position: absolute;
  right: 0px;
  bottom: 10px;
  max-width: 62%;
}
.main_box_info .main_box_info_date {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 2rem;
  width: 60%;
}
.main_box_img {
  background: linear-gradient(-45deg, #e5eaeb, #ebe5ea, #eaebe5, #bac7ca);
	background-size: 400% 400%;
	animation: Gradient 10s ease infinite;
}
.main_box_img img {
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 50%;
  left: 0;
  margin: auto;
  -ms-transform: translateY(-50%);
  -webkit-transform : translateY(-50%);
  transform : translateY(-50%);
  max-width: 80%;
  margin: 0 auto;
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@media (max-width: 768px) {
  button.slick-arrow {
    display: none !important;
  }
}

/* contents */

.contents {
  position: relative;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #e7e7e7;
}

.contents_about,
.contents_skills,
.contents_whatido,
.contents_recent,
.contents_form {
  padding: 120px 20px 150px 20px;
}
.contents_title {
  position: relative;
  margin: 0 auto 80px auto;
}
.contents_title::before {
  position: absolute;
  content: "";
  display: block;
  bottom: -10px;
  right: 0;
  left: 0;
  margin: auto;
  height: 1px;
  width: 40px;
  background-color: #000;
}
.contents_title::after {
  position: absolute;
  content: "";
  display: block;
  bottom: -15px;
  right: 0;
  left: 0;
  margin: auto;
  height: 1px;
  width: 20px;
  background-color: #000;
}
@media (max-width: 768px) {}

/* contents_about */
.contents_about p {
  font-size: 1.4rem;
  line-height: 2.4rem;
  text-align: left;
}

.contents_about p br {
  display: none;
}

@media (max-width: 768px) {
  .contents_about p br {
    display: none;
  }
}

/* contents_skills */

.contents_skills {
  position: relative;
  background: url("../img/img5.jpg");
  background-size:cover;
  background-attachment: fixed;
  z-index: 0;
  overflow: hidden;
}
.contents_skills::before {
  content: '';
  background: inherit;
  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px);
  position: absolute;
  top: -15px;
  left: -15px;
  right: -15px;
  bottom: -15px;
  z-index: -1;
}

.contents_skills .columns img {
  max-width: 100px;
  width: 100px;
  margin: 0 auto;
}

.contents_skills .contents_skills_title {
  color: #fff;
  letter-spacing: 0.2px;
  margin: 30px auto 20px auto;
}
.contents_skills .contents_skills_title + p {
  color: #fff;
  font-family: 'Noto Sans Japanese',   sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 2.5rem;
  letter-spacing: 0.1px;
  max-width: 80%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .contents_skills .columns img {
    max-width: 60px;
  }
  .contents_skills .contents_skills_title {
    margin: 10px auto 15px;
  }
  .contents_skills .contents_skills_title + p {
    line-height: 2.3rem;
    max-width: 100%;
    text-align: left;
    margin: 0 auto 60px;
  }
}

/* contents_whatido */

.contents_whatido ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.contents_whatido .modal_block {
  display: flex;
}

.contents_whatido ul.modal_trigger li {
  margin: 0 20px 20px 0;
  padding: 0;
  width: 31%;
}
.contents_whatido ul.modal_trigger li:nth-child(3n) {
  margin: 0 0 20px 0;
}
.contents_whatido .modal_inner {
  min-width: 600px;
}
.contents_whatido .modal_imagebox img {
  min-width: 300px;
}
.contents_whatido .modal_textbox {
  min-width: 200px;
}
.contents_whatido .modal_textbox li {
  text-align: right;
  color: #666;
  margin: 0 0 0 auto;
  font-size: 0.8rem;
}
.contents_whatido .modal_textbox p {
  text-align: right;
  color: #333;
  font-weight: bold;
  margin: 15px auto 10px;
}
@media (max-width: 768px) {
  .contents_whatido ul.modal_trigger li {
    margin: 0 auto 20px auto;
    padding: 0;
    width: calc(100% - 40px);
  }
  .contents_whatido ul.modal_trigger li:nth-child(3n) {
    margin: 0 auto 20px auto;
  }

  .contents_whatido .modal_inner {
    min-width: 80%;
    margin: 0 auto;
  }
.contents_whatido .modal_block {
  flex-direction: column;
}
.contents_whatido .modal_imagebox img,
.contents_whatido .modal_textbox {
    min-width: 100%;
}

}

/* contents_recent */

.contents_recent {
  background: #fff;
}
.contents_recent ul.modal_ui {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.contents_recent ul.modal_ui li {
  margin: 0 20px 0 0;
}
.contents_recent ul.modal_ui li:last-child {
  margin: 0;
}
.contents_recent .modal_textbox li {
  text-align: right;
  color: #666;
  margin: 0 0 0 auto;
  font-size: 0.8rem;
}
.contents_recent .modal_textbox p {
  text-align: right;
  color: #333;
  font-weight: bold;
  margin: 15px auto 5px;
}
.contents_recent .modal_textbox ul {
  list-style: none;
  margin: 0;
}


@media (max-width: 768px) {
  .contents_recent ul.modal_ui {
    display: flex;
    flex-wrap: wrap;
  }
  .contents_recent ul.modal_ui li {
    margin: 0 auto 20px auto;
    width: calc(50% - 20px);
  }
  .contents_recent ul.modal_ui li:last-child {
    margin: 0 auto 20px auto;
  }

  .contents_recent .modal_inner {
    width: 80%;
  }



}

/* contents_form */

.contents_form {
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
}

.footer_nav ul {
  width: 100%;
  list-style: none;
  margin: 60px auto 40px auto;
  text-align: center;
}
.footer_nav ul li {
  display: inline-block;
  margin: 0 20px 0 0;
  max-width: 30px;
  width: 30px:
}
.footer_nav ul li:last-child {
  margin: 0;
}


.footer {
  position: relative;
  margin: 40px auto 0 auto;
}
.copyright {
  width: 100%;
  text-align: center;
}
.pagetotop a {
  position: fixed;
  right: 1px;
  bottom: 1px;
  color: #fff;
  display: block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  background: #111;
  z-index: 10;
  opacity: 0.8;
  border: 1px solid #111;
  transition: .3s;
}
.pagetotop a:hover {
  text-decoration: none;
  color: #111;
  background: transparent;
  transition: .3s;
}
@media (max-width: 768px) {
  .footer_nav ul li {
    max-width: 24px;
    width: 24px:
  }
  .copyright {
    font-size: 1.0rem;
    margin-bottom: 15px;
  }
}

/* ---------- */
/*    modal   */
/* ---------- */

.modal_trigger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal_box {
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.modal_bg {
  background-color: rgba(30, 30, 30, 0.6);
  height: 100%;
  width: 100%;
}

.modal_inner {
  background-color: #fff;
  left: 50%;
  padding: 20px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 900px;
}

.modal_close {
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: -5px;
  font-size: 2rem;
}

/* --------------------------------------------- */

@media (max-width: 960px) {
  /*　メインビジュアル専用  */
  .main_box_info .main_box_title {
    margin: 15% auto 1rem 0;
    font-size: 4rem;
  }
  .main_box_info .main_box_info_date {
    font-size: 1.5rem;
  }
  .header_title {
    display: none;
  }
}


@media (max-width: 768px) {

  .main_box_info .main_box_title {
    margin: 0 auto 0;
    font-size: 2rem;
    text-align: center;
  }

  .main_box .six {
      width: 100%;
  }
.main_box_info .main_box_info_text {
  display: none;
}
.main_box_info {
  height: auto;
  padding: 0;
  margin: 100px auto 0;
}
.main_box_img {
  height: auto;
  margin: 80px auto 60px;
}
.main_box_info .main_box_info_date {
  display: none;
}
.main_box {
  display: flex;
  flex-direction: column-reverse;
}
.main_slider {
  padding: 40px 0 0;
}
.main .gnav_pc {
  position: relative;
    top: 0;
    left: 0;
    width: calc(100% - 0px);
    margin: 0 auto;
  }
.main .gnav_pc ul {
  min-width: 100%;
}
.main .gnav_pc ul li {
  text-align: center;
  font-size: .8rem;
}

@media (max-width: 768px) {

.gnav {
  position: relative;
  width: 320px;
  height: 50px;
}
.gnav_wrapper {
  display: none;
  position: absolute;
  top: 80px;
  width: 100%;
}
.main .gnav_pc ul li {
  text-align: center;
  font-size: 1.8rem;
}
.gnav_ul {
  width: 320px;
}
.gnav_li {
  background: transparent;
}
.gnav_li a {
  display: block;
  padding: 30px;
  color: #000;
  text-decoration: none;
  box-sizing: border-box;
  width: 100%;
}
.gnav_sp {
    display: block;
    position: absolute;
    width: 100%;
    margin: 0 auto;
  }
  .gnav_trigger,
  .gnav_trigger span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
  }
  .gnav_trigger {
    position: relative;
    display: block;
    width: 40px;
    height: 30px;
    margin: 20px auto;
    z-index: 10;
  }
  .gnav_trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000;
    border-radius: 1px;
  }
  .gnav_trigger span:nth-of-type(1) {
    top: 0;}

  .gnav_trigger span:nth-of-type(2) {
    top: 15px;}

  .gnav_trigger span:nth-of-type(3) {
    bottom: 0;}

  .gnav_trigger.active span:nth-of-type(1) {
    -webkit-transform: translateY(10px) rotate(-315deg);
    transform: translateY(10px) rotate(-315deg);}

  .gnav_trigger.active span:nth-of-type(2) {
    opacity: 0;}

  .gnav_trigger.active span:nth-of-type(3) {
    -webkit-transform: translateY(-20px) rotate(315deg);
    transform: translateY(-20px) rotate(315deg);}

}

}
