/* ------------- */
/* index         */
/* ------------- */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  color: #343434;
  font-size: clamp(15px, 1.15vw, 32px);
  font-family: 'Raleway', sans-serif;
}

body.isInactive {
  overflow: hidden;
}

img,
svg {
  width: 100%;
  height: 100%;
  font-size: 0;
  line-height: 0;
}

ul {
  list-style: none;
}

a {
  color: #4c61cb;
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
}

a:hover {
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none;
}

em {
  font-style: normal;
}

button {
  border: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.h1 {
  font-family: 'Lato', sans-serif;
  color: #fff;
  font-size: 8rem;
  font-weight: bold;
}

.h2 {
  font-family: 'Lato', sans-serif;
}

.h3 {
  font-family: 'Lato', sans-serif;
}

.h4 {
  font-family: 'Lato', sans-serif;
}

.h5 {
  font-family: 'Lato', sans-serif;
}

.h6 {
  font-family: 'Lato', sans-serif;
}

.bold {
  font-weight: bold;
}

.serif {
  font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
}

.lead {
  text-align: center;
  font-size: 2rem;
  line-height: 3rem;
}

.gallery .item {
  cursor: pointer;
}

.gallery .item:nth-child(2n) img {
  -webkit-animation-name: galleryItem1;
          animation-name: galleryItem1;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
}

.gallery .item:nth-child(2n-1) img {
  -webkit-animation-name: galleryItem2;
          animation-name: galleryItem2;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}

.gallery .item:nth-child(3n) img {
  -webkit-animation-name: galleryItem3;
          animation-name: galleryItem3;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
}

.gallery .item:nth-child(4n) img {
  -webkit-animation-name: galleryItem4;
          animation-name: galleryItem4;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
}

.gallery .item img {
  -webkit-transition: .8s ease-in-out;
  transition: .8s ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

.gallery .item img:hover {
  -webkit-transition: .8s ease-in-out;
  transition: .8s ease-in-out;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-box-shadow: 0 0 30px 0 rgba(122, 122, 122, 0.3);
          box-shadow: 0 0 30px 0 rgba(122, 122, 122, 0.3);
}

@-webkit-keyframes galleryItem1 {
  0% {
    border-radius: 57% 43% 47% 53% / 48% 43% 57% 52%;
  }
  33% {
    border-radius: 67% 33% 75% 25% / 53% 56% 44% 47%;
    -webkit-transform: rotateZ(5deg);
            transform: rotateZ(5deg);
  }
  66% {
    border-radius: 42% 58% 30% 70% / 66% 63% 37% 34%;
  }
  100% {
    border-radius: 57% 43% 47% 53% / 48% 43% 57% 52%;
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
}

@keyframes galleryItem1 {
  0% {
    border-radius: 57% 43% 47% 53% / 48% 43% 57% 52%;
  }
  33% {
    border-radius: 67% 33% 75% 25% / 53% 56% 44% 47%;
    -webkit-transform: rotateZ(5deg);
            transform: rotateZ(5deg);
  }
  66% {
    border-radius: 42% 58% 30% 70% / 66% 63% 37% 34%;
  }
  100% {
    border-radius: 57% 43% 47% 53% / 48% 43% 57% 52%;
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
}

@-webkit-keyframes galleryItem2 {
  0% {
    border-radius: 30% 70% 36% 64% / 34% 46% 54% 66%;
  }
  33% {
    border-radius: 58% 42% 63% 37% / 41% 54% 46% 59%;
    -webkit-transform: rotateZ(8deg);
            transform: rotateZ(8deg);
  }
  66% {
    border-radius: 37% 63% 36% 64% / 42% 68% 32% 58%;
  }
  100% {
    border-radius: 30% 70% 36% 64% / 34% 46% 54% 66%;
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
}

@keyframes galleryItem2 {
  0% {
    border-radius: 30% 70% 36% 64% / 34% 46% 54% 66%;
  }
  33% {
    border-radius: 58% 42% 63% 37% / 41% 54% 46% 59%;
    -webkit-transform: rotateZ(8deg);
            transform: rotateZ(8deg);
  }
  66% {
    border-radius: 37% 63% 36% 64% / 42% 68% 32% 58%;
  }
  100% {
    border-radius: 30% 70% 36% 64% / 34% 46% 54% 66%;
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
}

@-webkit-keyframes galleryItem3 {
  0% {
    border-radius: 48% 52% 41% 59% / 49% 35% 65% 51%;
  }
  33% {
    border-radius: 59% 41% 52% 48% / 46% 30% 70% 54%;
    -webkit-transform: rotateZ(-5deg);
            transform: rotateZ(-5deg);
  }
  66% {
    border-radius: 43% 57% 46% 54% / 54% 67% 33% 46%;
  }
  100% {
    border-radius: 48% 52% 41% 59% / 49% 35% 65% 51%;
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
}

@keyframes galleryItem3 {
  0% {
    border-radius: 48% 52% 41% 59% / 49% 35% 65% 51%;
  }
  33% {
    border-radius: 59% 41% 52% 48% / 46% 30% 70% 54%;
    -webkit-transform: rotateZ(-5deg);
            transform: rotateZ(-5deg);
  }
  66% {
    border-radius: 43% 57% 46% 54% / 54% 67% 33% 46%;
  }
  100% {
    border-radius: 48% 52% 41% 59% / 49% 35% 65% 51%;
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
}

@-webkit-keyframes galleryItem4 {
  0% {
    border-radius: 59% 41% 65% 35% / 43% 59% 41% 57%;
  }
  33% {
    border-radius: 35% 65% 46% 54% / 56% 54% 46% 44%;
    -webkit-transform: rotateZ(-8deg);
            transform: rotateZ(-8deg);
  }
  66% {
    border-radius: 43% 57% 64% 36% / 45% 41% 59% 55%;
  }
  100% {
    border-radius: 59% 41% 65% 35% / 43% 59% 41% 57%;
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
}

@keyframes galleryItem4 {
  0% {
    border-radius: 59% 41% 65% 35% / 43% 59% 41% 57%;
  }
  33% {
    border-radius: 35% 65% 46% 54% / 56% 54% 46% 44%;
    -webkit-transform: rotateZ(-8deg);
            transform: rotateZ(-8deg);
  }
  66% {
    border-radius: 43% 57% 64% 36% / 45% 41% 59% 55%;
  }
  100% {
    border-radius: 59% 41% 65% 35% / 43% 59% 41% 57%;
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
}

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  pointer-events: none;
}

.modal .modal_base {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal .modal_layer {
  width: 100%;
  -webkit-transform-origin: 0, 0;
          transform-origin: 0, 0;
}

.modal.isActive {
  opacity: 1;
  pointer-events: all;
}

.modal.isActive .modal_layer {
  -webkit-transition: 0.8s cubic-bezier(0, 0, 0.01, 1.33);
  transition: 0.8s cubic-bezier(0, 0, 0.01, 1.33);
  background: rgba(0, 0, 0, 0.7);
}

.modal.isActive .modal_layer:nth-of-type(2) {
  -webkit-transition-delay: .03s;
          transition-delay: .03s;
}

.modal.isActive .modal_layer:nth-of-type(3) {
  -webkit-transition-delay: .06s;
          transition-delay: .06s;
}

.modal.isActive .modal_layer:nth-of-type(4) {
  -webkit-transition-delay: .09s;
          transition-delay: .09s;
}

.modal.isActive .modal_layer:nth-of-type(5) {
  -webkit-transition-delay: .12s;
          transition-delay: .12s;
}

.modal.isActive .modal_layer:nth-of-type(6) {
  -webkit-transition-delay: .15s;
          transition-delay: .15s;
}

.modal.isActive .modal_layer:nth-of-type(7) {
  -webkit-transition-delay: .18s;
          transition-delay: .18s;
}

.modal.isActive .modal_layer:nth-of-type(8) {
  -webkit-transition-delay: .21s;
          transition-delay: .21s;
}

.modal.isActive .modal_layer:nth-of-type(9) {
  -webkit-transition-delay: .24s;
          transition-delay: .24s;
}

.modal.isActive .modal_layer:nth-of-type(10) {
  -webkit-transition-delay: .27s;
          transition-delay: .27s;
}

.modal.isActive .modal_layer:nth-of-type(11) {
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.modal.isActive .modal_layer:nth-of-type(12) {
  -webkit-transition-delay: .33s;
          transition-delay: .33s;
}

.modal.isActive .modal_layer:nth-of-type(13) {
  -webkit-transition-delay: .36s;
          transition-delay: .36s;
}

.modal.isActive .modal_layer:nth-of-type(14) {
  -webkit-transition-delay: .39s;
          transition-delay: .39s;
}

.modal.isActive .modal_layer:nth-of-type(15) {
  -webkit-transition-delay: .42s;
          transition-delay: .42s;
}

.modal.isActive .modal_layer:nth-of-type(16) {
  -webkit-transition-delay: .45s;
          transition-delay: .45s;
}

.modal.isActive .modal_layer:nth-of-type(17) {
  -webkit-transition-delay: .48s;
          transition-delay: .48s;
}

.modal.isActive .modal_layer:nth-of-type(18) {
  -webkit-transition-delay: .51s;
          transition-delay: .51s;
}

.modal.isActive .modal_layer:nth-of-type(19) {
  -webkit-transition-delay: .54s;
          transition-delay: .54s;
}

.modal.isActive .modal_layer:nth-of-type(20) {
  -webkit-transition-delay: .57s;
          transition-delay: .57s;
}

.modal_image {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  max-width: 45vw;
  max-height: 45vw;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -48%);
          transform: translate(-50%, -48%);
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  background: #fff;
}

@media screen and (max-width: 768px) {
  .modal_image {
    max-width: calc(100vw - 48px);
    max-height: calc(100vw - 48px);
  }
}

.modal_image.isActive {
  -webkit-transform: scale(1) translate(-50%, -50%);
          transform: scale(1) translate(-50%, -50%);
  -webkit-transition: 0.8s ease-out;
  transition: 0.8s ease-out;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  border-radius: 0;
  opacity: 1;
}

:root {
  --navSpHeight: 80px;
  --zUnder: -1;
  --zSurface: 0;
  --zTop: 10;
  --zAbove: 20;
  --red: #dc3545;
  --blue: #0d6efd;
  --lightblue: #0dcaf0;
  --green: #198754;
  --yellow: #ffc107;
  --lightgray: #f7f7f7;
  --darkgray: #343434;
}

.wrapper {
  width: 100%;
  height: -webkit-fill-available;
  min-height: 100vh;
}

@media screen and (max-width: 768px) {
  .wrapper {
    min-height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.main {
  width: 100%;
  background-color: var(--lightgray);
}

@media screen and (max-width: 768px) {
  .main {
    width: 100%;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8rem 2rem;
  background-color: #fff;
}

@media screen and (max-width: 768px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.nav {
  width: 100%;
  margin: 0 auto;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 768px) {
  .nav ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 6rem auto 0;
  }
}

.nav ul li {
  cursor: pointer;
}

.nav ul li a {
  color: var(--darkgray);
}

.nav ul li a._twi {
  display: block;
  width: 32px;
  height: 32px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64' stroke-width='3' stroke='currentColor' fill='none'%3E%3Cpath d='M54.49,12.3c0-.1-.09-.16-.17-.09-1.57,1.36-5.36,2.46-5.84,2.51a.11.11,0,0,1-.09,0c-2.78-4.44-9.19-3.24-9.19-3.24C29.78,13.48,30.82,23,31,24c0,.05,0,.09-.09.09-10.48.52-19.63-9.22-20.67-10.37a.11.11,0,0,0-.17,0A10.57,10.57,0,0,0,12.78,27a.11.11,0,0,1,0,.19,12.87,12.87,0,0,1-4-.77c-.06,0-.13,0-.13.1.14,6.2,6.22,9,7.63,9.59a.1.1,0,0,1,0,.19,13.4,13.4,0,0,1-3.85.27.11.11,0,0,0-.11.14c1.27,4.78,7.5,6.78,8.62,7.11A.11.11,0,0,1,21,44c-3.85,3.44-11.44,4.35-13,4.51a.11.11,0,0,0-.06.19c5.82,4,21.06,7.32,32.7-2.63A30.3,30.3,0,0,0,51,21.83a.09.09,0,0,1,.05-.08,14.22,14.22,0,0,0,5.06-5.06c0-.1,0-.16-.15-.13a5.63,5.63,0,0,1-3.15.17S54.52,13.77,54.49,12.3Z' stroke-linecap='round'/%3E%3C/svg%3E");
}

.nav ul li + li a {
  margin: 0 0 0 2rem;
}

.loading {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
  min-height: -webkit-fill-available;
  background-image: url(../images/key3.jpg);
  background-position: 0% 20%;
  background-size: cover;
  z-index: var(--zTop);
  -webkit-animation: slideKeyvisual 3s forwards ease-in-out;
          animation: slideKeyvisual 3s forwards ease-in-out;
}

@media screen and (max-width: 768px) {
  .loading {
    background-position: 50% 100%;
  }
}

.loading.isInactive {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .8s;
  transition: .8s;
  overflow: auto;
}

.keyvisual {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: -webkit-fill-available;
}

.keyvisual:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  min-height: -webkit-fill-available;
  background-image: url(../images/key3.jpg);
  background-position: 0% 20%;
  background-size: cover;
  z-index: var(--zUnder);
  -webkit-animation: slideKeyvisual 3s forwards ease-in-out;
          animation: slideKeyvisual 3s forwards ease-in-out;
}

@media screen and (max-width: 768px) {
  .keyvisual:before {
    background-position: 50% 100%;
  }
}

@-webkit-keyframes slideKeyvisual {
  0% {
    background-image: url(../images/key1.jpg);
  }
  40% {
    background-image: url(../images/key2.jpg);
  }
  80% {
    background-image: url(../images/key3.jpg);
  }
}

@keyframes slideKeyvisual {
  0% {
    background-image: url(../images/key1.jpg);
  }
  40% {
    background-image: url(../images/key2.jpg);
  }
  80% {
    background-image: url(../images/key3.jpg);
  }
}

.scrolldown {
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 30px;
  height: 30px;
}

.scrolldown::after {
  content: "";
  position: absolute;
  top: 0;
  width: 1px;
  height: 30px;
  background: #eee;
  -webkit-animation: pathmove 1.4s ease-in-out infinite;
          animation: pathmove 1.4s ease-in-out infinite;
  opacity: 0;
}

.scrolldown span {
  position: absolute;
  left: -3rem;
  right: -3rem;
  top: -15px;
  color: #eee;
  font-size: 0.7rem;
  text-align: center;
  letter-spacing: 0.05em;
}

@-webkit-keyframes pathmove {
  0% {
    height: 0;
    top: 0;
    opacity: 0;
  }
  30% {
    height: 30px;
    opacity: 1;
  }
  100% {
    height: 0;
    top: 50px;
    opacity: 0;
  }
}

@keyframes pathmove {
  0% {
    height: 0;
    top: 0;
    opacity: 0;
  }
  30% {
    height: 30px;
    opacity: 1;
  }
  100% {
    height: 0;
    top: 50px;
    opacity: 0;
  }
}

.content {
  content-visibility: auto;
  contain-intrinsic-size: 100%;
  padding: 6rem 0 18rem;
}

.section {
  width: 100%;
  margin: 0 auto;
  padding: 0rem 2rem 16rem;
  background-color: #fff;
}

@media screen and (max-width: 768px) {
  .section {
    padding: 0rem 2rem 8rem;
  }
}

.section + .section {
  margin: 4rem auto 0;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.container._400 {
  max-width: 400;
}

.container._768 {
  max-width: 768;
}

.container._960 {
  max-width: 960;
}

.container._1200 {
  max-width: 1200;
}

.container._1400 {
  max-width: 1400;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 4rem;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .flex {
    gap: 2rem;
  }
}

.flex .item {
  width: calc((100% - 16rem) / 5);
  font-size: 0;
}

@media screen and (max-width: 768px) {
  .flex .item {
    width: calc((100% - 4rem) / 3);
  }
}

.footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  min-height: -webkit-fill-available;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 100;
  letter-spacing: 1px;
  text-align: center;
  background-color: blue;
}

.footer p {
  z-index: var(--zTop);
}

.footer::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 0px);
  height: 100vh;
  min-height: -webkit-fill-available;
  background-color: #000;
  background-image: url(../images/key3.jpg);
  background-attachment: fixed;
  background-position: 0% 20%;
  background-size: cover;
  z-index: var(--zSurface);
}

@media screen and (max-width: 768px) {
  .footer::before {
    background-position: 50% 100%;
  }
}

.profile {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  visibility: hidden;
}

.profile .profile_base {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(0, 0, 0, 0.8);
  -webkit-transition: .8s ease;
  transition: .8s ease;
}

.profile .profile_content {
  width: 50%;
  height: 100%;
  top: 0;
  right: -100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
  opacity: 0;
  padding: 8rem 6rem;
  margin: 0 0 0 auto;
  background: white;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

@media screen and (max-width: 960px) {
  .profile .profile_content {
    padding: 8rem 3rem;
  }
}

@media screen and (max-width: 768px) {
  .profile .profile_content {
    width: 95%;
    padding: 4rem 2rem;
  }
}

.profile .profile_content .profile_title {
  margin: 0 auto 4rem 0;
}

.profile .profile_content p {
  font-size: 1.4rem;
  line-height: 1.8;
}

.profile.isActive {
  opacity: 1;
  visibility: visible;
}

.profile.isActive .profile_base {
  opacity: 1;
  -webkit-transition: .8s ease;
  transition: .8s ease;
}

.profile.isActive .profile_content {
  right: 0;
  opacity: 1;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.profile .profile_close {
  position: absolute;
  top: 4rem;
  right: 6rem;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

@media screen and (max-width: 960px) {
  .profile .profile_close {
    top: 2rem;
    right: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .profile .profile_close {
    top: 1rem;
    right: 1rem;
  }
}

.profile .profile_close span::before, .profile .profile_close span::after {
  content: "";
  display: block;
  position: absolute;
  top: calc(50% - .5px);
  right: 0;
  left: 0;
  margin: auto;
  width: 32px;
  height: 1px;
  opacity: 0;
  background-color: var(--darkgray);
  -webkit-transition: .2s;
  transition: .2s;
}

.profile.isActive .profile_close span::before, .profile.isActive .profile_close span::after {
  opacity: 1;
  -webkit-transition: .2s;
  transition: .2s;
}

.profile.isActive .profile_close span::before {
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.profile.isActive .profile_close span::after {
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}
