

// ----------------------------------------------------
// button
// ----------------------------------------------------


// 

@mixin button($color, $width, $height, $font, $radius) {
  width: $width;
  height: $height;
  line-height: $height;
  font-size: $font;
  text-align: center;
  border-radius: $radius;
  margin: 0 auto;
  cursor: pointer;
  @each $color in $colorlist{
    &._#{$color}{
      background: var(--#{$color});
    }
  }
  &:hover {
    opacity: 0.7;
  }
 }

// 

 .button {
  @include button(#111, 360px, 60px, 1.6rem, 32px);
 }

