
// ----------------------------------------------------
// color
// ----------------------------------------------------

:root {
  --red: #dc3545;
  --blue: #0d6efd;
  --lightblue: #0dcaf0;
  --green: #198754;
  --yellow: #ffc107;
  --lightgray: #f7f7f7;
  --darkgray: #343434;
}
