

// ----------------------------------------------------
// layout
// ----------------------------------------------------

:root {

  // --mainWidth: 80%;
  // --sideWidth: 20%;

  --navSpHeight: 80px;

  --zUnder: -1;
  --zSurface: 0;
  --zTop: 10;
  --zAbove: 20;

}

// 

@mixin centering {
  display: flex;
  align-items: center;
  justify-content: center;  
}
@mixin absolute0 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
@mixin square($size: 48px) {
  width: $size;
  height: $size;
}

.wrapper {
  width: 100%;
  height: -webkit-fill-available;
  min-height: 100vh;
  @include media(md) {
    min-height: auto;
    flex-direction: column-reverse;
  }
}

.main {
  width: 100%;
  background-color: var(--lightgray);
  @include media(md) {
    width: 100%;
  }
}
