

// ----------------------------------------------------
// title
// ----------------------------------------------------

.h1 {
  font-family: 'Lato', sans-serif;
  color: #fff;
  font-size: 8rem;
  font-weight: bold;
}

.h2 {
  font-family: 'Lato', sans-serif;
}

.h3 {
  font-family: 'Lato', sans-serif;
}

.h4 {
  font-family: 'Lato', sans-serif;
}

.h5 {
  font-family: 'Lato', sans-serif;
}

.h6 {
  font-family: 'Lato', sans-serif;
}

// 

.bold {
  font-weight: bold;
}

.serif {
  font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
}

// 

.lead {
  text-align: center;
  font-size: 2rem;
  line-height: 3rem;
}