
/* ------------- */
/* index         */
/* ------------- */

$breakpoints: (
  'sm': 'screen and (max-width: 400px)',
  'md': 'screen and (max-width: 768px)',
  'lg': 'screen and (max-width: 960px)',
  'xl': 'screen and (max-width: 1200px)',
  'xxl': 'screen and (max-width: 1400px)',
) !default;

@mixin media($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// 

$colorlist: lightblue, green, yellow;
$widthlist: 400, 768, 960, 1200, 1400;

// 

@import 'base';
@import 'modal';
@import 'layout';
@import 'main';
